name: Sync Repos
on:
  push:
    branches: [main]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Push to backup repo
        run: |
          git remote add backup https://github.com/brian-md-12/DBC.git
          git push backup main --force
